<ul class="tree-container">
  <li class="item-container" *ngFor="let node of treeVM" [ngClass]="{'item-container--leaf': node.isLeaf}">
    <div (click)="toggleNode(node)" class="tree-item" [class.tree-item--clickable]="!node.isLeaf">
      <ng-container [ngTemplateOutlet]="node.isLeaf ? leafTemplateHolder.template : nodeTemplateHolder.template"
                    [ngTemplateOutletContext]="{$implicit: node.node}"></ng-container>
    </div>
    <div class="inner-tree" *ngIf="node.isExpanded">
      <tree-view [tree]="node.children"
                 [nodeTemplateHolder]="nodeTemplateHolder"
                 [leafTemplateHolder]="leafTemplateHolder">
      </tree-view>
    </div>
  </li>
</ul>
